{erl_opts, [debug_info]}.

{deps, []}.

{profiles, [
    {lint,  [
        {plugins, [
            {rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "v0.1.9"}}}
        ]}
    ]}
]}.

{xref_checks, [
   deprecated_function_calls, deprecated_functions, undefined_function_calls, undefined_functions
]}.

{elvis,
    [#{dirs => ["src"],
        filter => "*.erl",
        rules => [
            {elvis_style, line_length, #{limit => 120}}
        ]
    }]
}.
